<div id="footer" class="ui inverted vertical footer segment" xmlns="http://www.w3.org/1999/html">
    <div class="ui center aligned container" >
        <div class="ui stackable inverted divided grid">
            <div class="four wide column">
                <h4 class="ui inverted header">联系工作人员:</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item" style="    color: #68adf0;">QQ : 1040749215</a>
                    <a href="#" class="item" style="    color: #68adf0;">TEL : 15809267237</a>

                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">纳新试题下载</h4>
                <div class="ui inverted link list">
                    <a href="/topic/grade1.pdf" class="item" style="    color: #68adf0;">大一基础样卷</a>
                    <a href="/topic/web_grade2.pdf" class="item" style="    color: #68adf0;">大二及以上年级前端组方向题</a>
                    <a href="/topic/net_grade2.pdf" class="item" style="    color: #68adf0;">大二及以上年级网络组方向题</a>
                    <a href="http://ctf.xiyounet.org" class="item" style="    color: #68adf0;">安全组免试题即方向题</a>
                </div>
            </div>
            <div class="eight wide column">
                <h4 class="ui inverted header">Follow Us</h4>
                <div class="ui inverted link list">
                    <a href="https://github.com/xiyouant"><i class="big github icon" style="color:white;"></i></a>
                    <a href="http://xiyounet.org/assets/images/wechat.jpg"><i class="big wechat icon" style="color:white;"></i></a>
                </div>
            </div>

        </div>

    </div>
</div>