<div id="footer" class="ui inverted vertical footer segment">
    <div class="ui center aligned container" >
        <div class="ui stackable inverted divided grid">
            <div class="four wide column">
                <h4 class="ui inverted header">联系我们</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">陕西省西安市长安区西安邮电大学 东区FZ130	</a>
                    <a href="#" class="item">邮箱:admin@xiyouant.org</a>

                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">Follow Us</h4>
                <div class="ui inverted link list">
                    <i class="big github icon"></i>
                    <i class="big wechat icon"></i>
                </div>
            </div>
            <div class="eight wide column">
                <h4 class="ui inverted header">内容许可</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">本站由DigitalOcean提供服务器支持 七牛 提供 CDN 存储服务除特别说明外，用户内容均采用</a>
                    <a href="#" class="item">知识共享署名-相同方式共享 3.0 中国大陆许可协议进行许可</a>
                </div>
            </div>

        </div>

    </div>
</div>