<header class=" ui fixed inverted menu ">
    <div id="nav" class="ui container">
        <div class="ui inverted secondary menu">
            <a class="item" href="#">
                <img class="ui small image" src="/images/logo.png">
            </a>
            <a class="active item" href="http://xiyounet.org/">首页 </a>
            <a class="item" href="http://xiyounet.org/about.html"> 关于 </a>
            <a class="item" href="http://xiyounet.org/contact.html"> 联系我们 </a>
        </div>
    </div>
</header>