<% include ../header.ejs %>
<link rel="stylesheet" href="/stylesheets/sign/form.css" >
</head>
<body id="example" class="basic minimal">
<!--姓名 性别 预期方向 电话号码 学号 专业 年级-->

<%include ../nav.ejs%>

<div id="maincontent" class="ui main container mobile only">
    <div class="ui stackable grid">
        <div class="column">
            <div id="regUtgaende" class="ui stacked segment">
                <a class="ui ribbon orange label">填写个人信息</a>

                <!--提交表单-->
                <form id="submitForm" class="ui form" method="post" action="/form">
                    <div class="fields" style="margin-bottom: 7%;position: relative;">
                        <div class="sixteen wide field">
                            <label>姓名</label>
                            <input id="name" type="text" name="name" placeholder="Name">
                            <div id="name_lable" class="ui left pointing red basic label v-hidden" >请输入中文</div>
                        </div>
                    </div>
                    <div class="fields" style="margin-bottom: 7%;position: relative;">
                        <div class="sixteen wide field">
                            <label>学号</label>
                            <input id="stNumber" type="text" name="stNumber" placeholder="student ID">
                            <div id="stNumber_lable" class="ui left pointing red basic label v-hidden" >请输入8位学号</div>
                        </div>
                    </div>
                    <div class="fields" style="margin-bottom: 7%;position: relative;">
                        <div class="sixteen wide field">
                            <label>联系方式</label>
                            <input id="telNumber" type="text" name="telNumber" placeholder="phone number">
                            <div id="telNumber_lable" class="ui left pointing red basic label v-hidden" >请输入规范手机号码</div>
                        </div>
                    </div>
                    <div class="fields" style="margin-bottom: 5%;">
                        <div class="twelve wide field">
                            <label>预期方向</label>
                            <select name="direction" class="ui fluid dropdown">
                                <option value="safe">安全组</option>
                                <option value="fe">前端组</option>
                                <option value="network">网络组</option>
                            </select>
                        </div>
                        <div class="four wide field">
                            <label>性别</label>
                            <select name="sex"  class="ui fluid dropdown">
                                <option value="male">男</option>
                                <option value="female">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="fields">
                        <div name="major" class="eight wide field">
                            <label>专业班级</label>
                            <input type="text" name="major" placeholder="major">
                        </div>
                        <div class="eight wide field">
                            <label>年级</label>
                            <select name="grade" class="ui fluid dropdown">
                                <option value="one">大一</option>
                                <option value="two">大二</option>
                                <option value="three">大三</option>
                                <option value="four">大四</option>
                            </select>
                        </div>
                    </div>
                    <button id="submit" class="ui blue button center" type="submit">提交</button>
                    <div id="submit_lable" class="ui left pointing red basic label v-hidden" >列表信息不能为空</div>
                </form>
                <!--表单END-->
            </div>
        </div>
    </div>
</div>



</body>
<script src="/javascripts/xss.js"></script>
<% include ../footer.ejs %>
<script src="/javascripts/sign_up/form.js"></script>
</html>