<% include ../header.ejs %>
</head>
<body id="example">
<!--导航-->
<% include ../nav.ejs %>

<div class="wrap">
    <h1>距 <strong>2016</strong> 网络科技协会 <strong>纳新</strong></h1>
    <h2>  <strong>最好的地方，来证明自己</strong> </h2>
    <h3> <strong>IDEA,  SHARE,  BEYOND</strong></h3>
    <h2>  <strong style="    color: #ea4c4c;">报名结束</strong> </h2>


    <!--<div class="countdown">
        &lt;!&ndash; DIAS &ndash;&gt;
        <div class="bloc-time days" data-init-value="7">
            <span class="count-title">Days</span>

            <div class="figure days days-1">
                <span class="top"></span>
      <span class="top-back">
        <span></span>
      </span>
                <span class="bottom"></span>
      <span class="bottom-back">
        <span></span>
      </span>
            </div>

            <div class="figure days days-2">
                <span class="top"></span>
      <span class="top-back">
        <span></span>
      </span>
                <span class="bottom"></span>
      <span class="bottom-back">
        <span></span>
      </span>
            </div>
        </div>
        &lt;!&ndash; HORAS &ndash;&gt;
        <div class="bloc-time hours" data-init-value="24">
            <span class="count-title">Hours</span>

            <div class="figure hours hours-1">
                <span class="top"></span>
      <span class="top-back">
        <span></span>
      </span>
                <span class="bottom"></span>
      <span class="bottom-back">
        <span></span>
      </span>
            </div>

            <div class="figure hours hours-2">
                <span class="top"></span>
      <span class="top-back">
        <span></span>
      </span>
                <span class="bottom"></span>
      <span class="bottom-back">
        <span></span>
      </span>
            </div>
        </div>
        &lt;!&ndash; MINUTOS &ndash;&gt;
        <div class="bloc-time min" data-init-value="0">
            <span class="count-title">Minutes</span>

            <div class="figure min min-1">
                <span class="top"></span>
        <span class="top-back">
          <span></span>
        </span>
                <span class="bottom"></span>
        <span class="bottom-back">
          <span></span>
        </span>
            </div>

            <div class="figure min min-2">
                <span class="top"></span>
        <span class="top-back">
          <span></span>
        </span>
                <span class="bottom"></span>
        <span class="bottom-back">
          <span></span>
        </span>
            </div>
        </div>
        &lt;!&ndash; SEGUNDOS &ndash;&gt;
        <div class="bloc-time sec" data-init-value="0">
            <span class="count-title">Seconds</span>

            <div class="figure sec sec-1">
                <span class="top"></span>
        <span class="top-back">
          <span></span>
        </span>
                <span class="bottom"></span>
        <span class="bottom-back">
          <span></span>
        </span>
            </div>

            <div class="figure sec sec-2">
                <span class="top"></span>
        <span class="top-back">
          <span></span>
        </span>
                <span class="bottom"></span>
        <span class="bottom-back">
          <span></span>
        </span>
            </div>
        </div>
    </div>-->
</div>
<!-- JAVASCRIPT (if you have an error "tweenmax is not defined") -->




</body>
<!--<script src="/javascripts/sign_up/TweenMax.min.js"></script>-->
<% include ../script.ejs %>
<!--<script src="/javascripts/sign_up/countdown.js"></script>-->
</html>

