<! DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes,minimal-ui">
    <title><%= title%></title>
    <link rel="stylesheet" href="/stylesheets/semantic.min.css">
    <link href="/stylesheets/sign/style.css" rel="stylesheet">
</head>