<div class="ui fixed inverted main menu">
    <div class="container">
        <div class="title item">
            <b>网络科技协会纳新:</b> 报名
        </div>

        <a class="icon item" href=""><i class="left chevron icon"></i></a>

        <div class="section ui page dropdown link item">
            <span class="count">0 / 3</span>
            <div class="menu transition hidden">

                <a class="item" href="">
                    倒计时
                </a>

                <a class="item" href="">
                    填写表单
                </a>

                <a class="item" href="">
                    报名成功
                </a>

            </div>
        </div>

        <a class="icon item" href=""><i class="right chevron icon"></i></a>

        <div class="right menu">
            <a class="popup icon music item" data-content="播放音乐">
                <i class="alternate music icon"></i>
            </a>
            <a class="popup icon github item" data-content="在GitHub中查看项目" href="https://github.com/Semantic-Org/Semantic-UI">
                <i class="alternate github icon"></i>
            </a>
        </div>
    </div>
</div>