body {
    height: calc(100% - 7em) !important;
    background: #fcfef5;
}

.dont-show {
    display: none;
}

#userbutton {
    font-size: .88em;
}
#userbutton i {
    font-size: 1rem;
}

#example #maincontent {
    margin-top: 7em;
    margin-bottom: -7em;
}
#maincontent .ribbon {
    margin-bottom: 1.3em;
    cursor: default;
}

.ui.grid {
    margin : 0;
}

#regUtgaende {
    width: 76%;
    margin-left: 50%;
    left: -38%;
}

@media (max-width: 550px) {
    #regUtgaende {
        width: 100%;
        margin-left: 0%;
        left: 0%;
    }
}

#submitForm {
    width : 70%;
    margin : 0 auto;
}

#name_lable, #stNumber_lable, #telNumber_lable {
    position: absolute;
    left:100%;
    width:22%;
}

#telNumber_lable {
    top:27%;
}
#name_lable {
    top: 3.5%;
}

#telNumber_lable {
    top: 15.4%;
}

#submit {
    width: 39%;
    margin-left: 31%;
    margin-top: 5%;
    letter-spacing: 22px;
    padding-left: 41px;
    text-align: center;
}

@media (max-width:710px) {
    #submit {
        padding-left: 9%;
        letter-spacing: 5px;
    }
}

@media (max-width:450px) {
    #submit {
        padding-left: 9.9%;
        letter-spacing: 0px;
    }
    #github {
        display:none;
    }
    #nav_title {
        margin-left: 12.4%;
    }
}

@media (max-width:450px) {
    #nav_title{
        margin-left: 0%;
    }
}




.v-hidden {
    visibility: hidden;
}

.v-visible {
    visibility: visible;
}