body {
   /* height: calc(100% - 7em) !important;*/
    background: #fcfef5;
}

.dont-show {
    display: none;
}

#userbutton {
    font-size: .88em;
}
#userbutton i {
    font-size: 1rem;
}

#example #maincontent {
    top: 7em;
    margin-bottom: 13em;
}
#maincontent .ribbon {
    margin-bottom: 1.3em;
    cursor: default;
}

.ui.grid {
    margin : 0;
}

#regUtgaende {
    width: 76%;
    margin-left: 50%;
    left: -38%;
}

@media (max-width: 550px) {
    #regUtgaende {
        width: 100%;
        margin-left: 0%;
        left: 0%;
    }
}

#submitForm {
    width : 70%;
    margin : 0 auto;
}

#name_lable, #stNumber_lable, #telNumber_lable {
    position: absolute;
    left:100%;
    width:22%;
    top: 25px;
}

#submit {
    width: 39%;
    margin-left: 31%;
    margin-top: 5%;
    letter-spacing: 22px;
    padding-left: 41px;
    text-align: center;
}

@media (max-width:710px) {
    #submit {
        padding-left: 9%;
        letter-spacing: 5px;
    }
}

@media (max-width:450px) {
    #submit {
        padding-left: 9.9%;
        letter-spacing: 0px;
    }
    #github {
        display:none;
    }
    #nav_title {
        margin-left: 12.4%;
    }
    #nav_title{
        margin-left: 0%;
    }
}


@media (max-width:910px) {
    #stNumber_lable, #telNumber_lable{
        top:23px;
    }
}

@media (max-width:767px) {
    #stNumber_lable{
        top:22px;
    }
    #name_lable, #telNumber_lable{
        top:20px;
    }
}

@media (max-width:425px) {
    #name_lable, #stNumber_lable, #telNumber_lable {
        position: absolute;
        text-align: center;
        margin-left: 0;
    }

    #name_lable {
        left: 50%;
        width: 50%;
        top: 52px;
    }

    #stNumber_lable {
        left: 50%;
        width: 60%;
        top: 52px;
    }


    #telNumber_lable {
        left: 50%;
        width: 60%;
        top: 52px;
    }
}



    .v-hidden {
    visibility: hidden;
}

.v-visible {
    visibility: visible;
}

#submit_lable {
    position: absolute;
    width: 26%;
    margin-top: 6%;
}

@media (max-width:650px) {
    #submit_lable {
        position: absolute;
        width: 37%;
        margin-top: 4%;
    }
}

/*card css*/

.ui.modal {
    background: transparent;
    box-shadow: none;
    margin-top: -22.5rem !important;
}

.ui.link.cards .card:hover {
    cursor: default;
    z-index: 5;
    background: #fff;
    border: none;
    box-shadow: 0 3px 0 0 #bebebf,0 0 0 1px rgba(39,41,43,.3);
}

.ui.link.cards .card {
    cursor: default;
    z-index: 5;
    background: #fff;
    border: none;
    box-shadow: 0 3px 0 0 #bebebf,0 0 0 1px rgba(39,41,43,.3);
}
