

@media only screen and (max-width: 998px) {
    #example .fixed .container {
        width: auto;
        margin: 0px auto;
        max-width: 9999px;
    }
}
@media only screen and (max-width: 998px) and (min-width: 600px) {
    #example .container {
        width: auto;
        margin: 0em 2rem;
    }
}
#example .container {
            position: relative;
            width: 915px;
            margin: 0px auto;
        }

/*top menu dropdown*/
.ui.dropdown .menu.active {
    display : block;
}



/*----------------------------*/


